.home-middle {
    margin-top: 0px;
    background-color: #E3E1DC;
    padding: 5% 5%;
    height: fit-content;
    border-radius: 0px 0px 42px 42px ;
}
.home-middle .separator-line {
    max-width: 3.5rem;
    width: 20%;
    background-color: rgb(77,39,12);
    border-radius: 77px;
    height: 4px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.home-middle .most-searched-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(41,21,7);
}
.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.head .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;
    width: 45%;
    align-self: flex-start;
}
.head .more-link {
    align-self: flex-end;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(41, 21, 7, 0.6);
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.head .more-link:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.home-middle .top-breeds {
    padding: 0;
    columns: 4 auto;
    column-gap: 1.5rem;
}
.top-breeds .breed {
    width: 15vw;
    height: 15vw;
    margin-bottom: 3rem;
}
.top-breeds .breed img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    transition: all 0.2s;
    animation: 1.2s 1 first-load;
}
.top-breeds .breed img:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.top-breeds .breed img:active {
    box-shadow: none;
}
.router-link {
    text-decoration: none;
}
.top-breeds .breed h6 {
    color: rgb(41,21,7);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0;
}

@media (max-width: 768px){
    .home-middle .top-breeds {
        padding: 0;
        columns: 2 auto;
        column-gap: 1.5rem;
    }
    .top-breeds .breed {
        width: 30vw;
        height: 30vw;
        margin-bottom: 5rem;
    }
    .head {
        flex-direction: column;
    }
    .head .title {
        width: 100%;
        font-size: 2rem;
    }
    .home-middle .most-searched-text {
        font-size: 1rem;
    }
}
